// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.modal{
    z-index: 1200 !important;
}

.modal-backdrop {
    z-index: 1160 !important;
}

.modal-open {
    padding-right: 0px !important;
}

body{
    background-color: white !important;
    // background-color: #225384 !important;
}

.content-wrapper{
    background-color: rgba(255, 255, 255, 0);
}

// .modal-xl .modal-content{
//     width: 1300px !important;
// }